* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(13deg, rgb(175, 4, 111), rgb(251, 250, 148));
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;

}
.container{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;

}
h1{
    font-family: monospace;
    font-weight: light;
    font-size: 72px;
    color: #fff;
    text-transform: uppercase;
}
.day {
    padding-right: 15px;
}

.seconds {
    padding-right: 15px;
}
